%section.my_queue.container
  .row
    .span10.offset1
      %article
        %header
          %h2 My Queue
        - if @queue_items.blank?
          %tr
            %td
              No videos in the queue.
        - else
          = form_tag my_queue_update_path do
            %table.table
              %thead
                %tr
                  %th(width="10%") List Order
                  %th(width="30%") Video Title
                  %th(width="10%") Play
                  %th(width="20%") Your Rating
                  %th(width="15%") Genre
                  %th(width="15%") Remove
              %tbody
                - @queue_items.each_with_index do |item, index|
                  %tr
                    %td
                      = text_field_tag "queue_items[#{item.id}][position]", item.position
                    %td
                      = link_to item.video.title, item.video
                    %td
                      = link_to "Play", item.video.url, class: "btn"
                    %td
                      = select_tag "queue_items[#{item.id}][rating]", options_for_select(5.downto(1).map { |n| ["#{pluralize(n, "star", "stars")}", n] }, item.user_rating), { include_blank: '' }
                    %td
                      = raw item.video.categories.collect { |category| link_to category.name, category_path(category) }.join(', ')
                    %td
                      = link_to queue_item_path(item), method: :delete, confirm: "Delete from queue?" do
                        %i.icon-remove
            = submit_tag "Update Instant Queue", class: "btn"
