%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        = image_tag(@video.large_cover_url)
      .video_info.span3
        %h3= @video.title
        %span 
          %strong=raw "Average Rating: #{@average_rating}"
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", my_queue_path(@queue, video_id: @video.id), method: 'post', class: "btn" unless current_user.has_in_queue?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = form_for([@video, @review], html: { class: 'form-vertical' }) do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_select(5.downto(1).map { |n| [n.to_s + " Stars", n] })
        %fieldset          
          = f.text_area :review, label: 'Write Review', class: 'span6', rows: 6
        %fieldset.actions.clearfix
          = f.submit 'Submit', class: 'btn'
          %a(href="") Cancel
      %header
        %h3=raw "User Reviews (#{@video.reviews.count})"
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span 
                  = review.rating
                  \/
                  = review.max_rating
                %p 
                  by 
                  = link_to review.user.full_name
              .span8
                %p
                  = review.review
