%section.admin_edit_video
  .container
    .row
      .span10.offset1
        = bootstrap_form_for [:admin, @video], html: { multipart: true, class: 'form-horizontal' } do |f|
          %header
            %h2 Edit Video
            %fieldset
              = f.text_field :title
              .control-group
                = f.label :category, class: "control-label"
                .controls
                  = collection_select :category, :id, Category.all, :id, :name
              = f.text_area :description, rows: 8, class: 'span6'
              = f.file_field :large_cover, label: "Large Cover"
              = f.file_field :small_cover, label: "Small Cover"
              = f.text_field :url, label: "Video Link"

            %fieldset.actions.control-group
              .controls
                = f.secondary 'Update Video'